@import "@styles/util/__util";

.productWrapper {
  display: flex;

  @media (max-width: 820px) {
    display: block;
    text-align: center;
  }
}

.productImage {
  @extend %card-image;
  width: 50%;
  margin-right: 2em;
  flex: 0 0 50%;

  @media (max-width: 820px) {
    width: 100%;
  }

  transform: rotate(2deg) scale(0.9) translateY(-1em);
  transition: transform 0.1s;
  &:hover {
    transform: rotate(-3deg) scale(1) translateY(-1em);
    transition: transform 0.2s;
  }

  & > span {
    display: block !important;
  }
}

.productPrice {
  margin: 0.4em 0 0;
}
