@import "@styles/settings/__settings";

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 25px solid $color-brand-green;
  background-color: $color-brand-yellow;
  justify-content: center;
  align-items: center;
}
